h2 {
    text-align: center;
}

.navbar {
    background-color:#3E5C9A;
}

.navbar-brand {
    color: white !important;
    font-weight: 900;
    font-size: 35px;
    font-family: 'Muli', sans-serif;
}

.jobssection {
    margin-top: 90px;
}
